<!DOCTYPE html>
<html>
  <head>
    <title>投票网页</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 引入Vue3和ElementPlus的CDN链接 -->
    <script crossorigin="anonymous"
        integrity="sha512-2k8Z8sJYPSphKi6TTg6D+DaZnjFXjROBXNEUp6xem+gt3KwxAJcxup1C34FOXDVELSNkM3tGRqvouxgAHm6kXA=="
        src="https://lib.baomitu.com/vue/3.2.39/vue.global.min.js"></script>
    <link rel="stylesheet" href="//unpkg.com/element-plus/dist/index.css" />
    <!-- 引入 Element Plus 字体文件 -->
    <script src="//unpkg.com/@element-plus/icons-vue"></script>
    <script src="//unpkg.com/element-plus"></script>
    <script src="https://unpkg.com/vue-i18n@9"></script>
  </head>
  <body>
    <div id="app"></div>
    <script src="/static/api.js"></script>
    <script src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/index.css">
  </body>
  <style>
  </style>
</html>
