<el-card :body-style="{ padding: '12px' }" class="vote-item">
  <!-- 产品名称及开发公司 -->
  <el-container>
    <el-main style="--el-main-padding: 4px">
      <div class="product-info">
        <el-avatar shape="circle" :size="24" :src="item.icon" fit="cover" />
        <div class="name">{{item.name}}</div>
        <div class="vendor">
          {{item.vendor}}<span class="corner">{{item.corner}}</span>
        </div>
        <div class="time">{{item.publish_time}}</div>
      </div>
      <!-- 产品简介 -->
      <div class="product-desc">
        <div class="intro">{{item.intro}}</div>
      </div>
    </el-main>
    <el-aside width="200px">
      <!-- 投票数，在整个卡片居中右侧 -->
      <div class="vote-count">{{item.vote_count}}</div>
    </el-aside>
  </el-container>
  <!-- 标签及投票信息 -->
  <div class="product-tags">
    <div class="tags">
      <el-tag v-for="tag in item.tags" :key="tag" style="margin-right: 10px"
        >{{tag}}</el-tag
      >
    </div>
    <el-button
      type="primary"
      :icon="item.voted ? 'StarFilled' : 'Star'"
      @click="toggleVote(item)"
      circle
    ></el-button>
  </div>
</el-card>
